* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

html {
    background: url("/image/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: table;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

img {
    width: 65px;
}

.removed {
    visibility: hidden;
}

.window{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 250px;
    cursor: default;
}


.point {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 265px;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    cursor: move;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#000000',GradientType=0 );
    text-indent: 5px;
}

.point:after {
    position: absolute;
    width: 265px;
    height: 25px;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
 }

.pointContent {
    position: relative;
    margin-top: 3px;
    width: 261px;
    height: 350px;
    background: rgba(255, 255, 255, 1);
    cursor: default;
    border: solid;
    border-color: black;
    border-width: 2px;
    text-indent: 0;
}

.titleText {
    pointer-events: none;
    text-align: center;
    padding-top: 3px;

}
.point i {
    pointer-events: none;
    padding-top: 3px;
}

.memoryPic {
    border-radius: 10px;
    margin-top: 3px;
}

.startMemory {
    background: #0ec4bb;
    background-image: -webkit-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -moz-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -ms-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -o-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: linear-gradient(to bottom, #0ec4bb, #0b8f88);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 12px 12px 12px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.startMemory:hover {
    background: #5bcfc9;
    cursor: pointer;
}

.material-icons.md-18 {
    font-size: 18px;
    position: absolute;
    pointer-events: none;

}
.material-icons.md-24 {
    font-size: 24px;
    pointer-events: none;
}
.material-icons.md-36 {
    font-size: 36px;
    pointer-events: none;
}
.material-icons.md-48 {
    font-size: 48px;
    pointer-events: none;
}

.smallIcon {
    width: 20px;
    float: left;
    pointer-events: none;
}



/* Dock Bar */
/* Based of https://dl.dropboxusercontent.com/u/1330446/demo/dock/dock.html */

#dock-container {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
#dock {
    position: relative;
    display: inline-block;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
}
#dock .base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: -10;

    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    opacity: 1;
    border-bottom: 2px #aaa solid;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(55deg);
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(55deg);
    -o-transform-origin: 50% 100%;
    -o-transform: rotateX(55deg);
}
#dock ul {
    font-size: 14px;
    padding: 0 30px;
    margin: 0;
}
#dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
#dock li span {
    display: none;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px 0 4px 0;
    border-radius: 7px;
}
#dock li:hover span {
    display: block;
}
#dock li img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
    -webkit-linear-gradient(top, transparent, rgba(255,255,255,.3));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    -moz-transition: all 0.4s;
    -moz-transform-origin: 50% 100%;
    -o-transition: all 0.3s;
    -o-transform-origin: 50% 100%;
    border-radius: 10px;
}
#dock li:hover img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin: 0 2em 0;
}

#dock li:hover + li img,
#dock li.prev img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin: 0 1.4em 10px;
}
