* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

html {
    background: url("/image/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 0;
    overflow: hidden;
}

footer {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.10) 0%, rgba(0,0,0,0.50) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.50) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.10) 0%,rgba(0,0,0,0.50) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#000000',GradientType=0 );
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 80px;
    width: 50%;
    overflow:hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: table;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

img {

    width: 65px;
}
.removed {
    visibility: hidden;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.flex-item {
    border-radius: 15%;
    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    color: white;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.25)));

}

.flex-item:hover {
    transition-duration: 200ms;
}

#icon1 {
    background: linear-gradient(orangered, yellow);
}

#icon1:hover {

    background: linear-gradient(orangered, orangered);
}

#icon2 {
    background: linear-gradient(darkred, indianred);
}

#icon2:hover {
    background: darkred;
}

#icon3 {
    background: linear-gradient(darkblue, dodgerblue);
}

#icon3:hover {
    background: darkblue;
}

#icon4 {
    background: linear-gradient(darkgreen, greenyellow);
}

#icon4:hover {
    background: darkgreen;
}

#icon5 {
    background: linear-gradient(#5e005e, #b100ff);
}

#icon5:hover {
    background: #5e005e;
}

.window{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 250px;
    cursor: default;
}


.point {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 265px;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    cursor: move;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.25) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.25) 0%,rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40000000', endColorstr='#000000',GradientType=0 );
    text-indent: 5px;
}

.point:after {
    position: absolute;
    width: 265px;
    height: 25px;
    top: 150%; left: 50%;
    transform: translateX(-50%);
    text-align: center;
 }

.pointContent {
    position: relative;
    margin-top: 3px;
    width: 261px;
    height: 350px;
    background: rgba(255, 255, 255, 1);
    cursor: default;
    border: solid;
    border-color: black;
    border-width: 2px;
    text-indent: 0;
}

.titleText {
    pointer-events: none;
    text-align: center;
    padding-top: 3px;

}
.point i {
    pointer-events: none;
    padding-top: 3px;
}

.memoryPic {
    border-radius: 10px;
    margin-top: 3px;
}

.startMemory {
    background: #0ec4bb;
    background-image: -webkit-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -moz-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -ms-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -o-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: linear-gradient(to bottom, #0ec4bb, #0b8f88);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 0 20px 0 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.startMemory:hover {
    background: #5bcfc9;
    cursor: pointer;
}

.material-icons.md-18 {
    font-size: 18px;
    position: absolute;
    pointer-events: none;

}
.material-icons.md-24 {
    font-size: 24px;
    pointer-events: none;
}
.material-icons.md-36 {
    font-size: 36px;
    pointer-events: none;
}
.material-icons.md-48 {
    font-size: 48px;
    pointer-events: none;
}
