* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

html {
    background: url("/image/background3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 0;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: table;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

img {
    width: 85px;
    height: 120px;
}

.removed {
    visibility: hidden;
}

.window {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 250px;
    cursor: default;
    top: 20%;
    left: 20%;
}


.point {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 262px;
    height: 25px;
    background: rgba(0, 0, 0, 0.5);
    cursor: default;
    color: #676767;
    background: #e5e3e5;
    background: linear-gradient(#ebebeb, #cecdce);
    border-top: 1px solid #f4f3f4;
    border-bottom: 1px solid #afaeaf;
    text-indent: 5px;
    border-radius: 6px 6px 0 0;
}

.point:after {
    position: absolute;
    width: 265px;
    height: 25px;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
 }

.pointContent {
    position: relative;
    margin-top: 3px;
    width: 261px;
    height: 350px;
    background: rgba(255, 255, 255, 1);
    cursor: default;
    text-indent: 0;
}

.chatWindow {
    width: 400px;
    height: 500px;
}

.chatTitle {
    width: 400px;
}

.titleText {
    pointer-events: none;
    text-align: center;
    padding-top: 3px;

}
.point i {
    pointer-events: none;
    padding-top: 3px;
}

.memoryPic {
    border-radius: 10px;
    margin-top: 3px;
    margin-left: 5px;
}

.memoryWin {
    width: 355px;
    height: inherit;
    margin-top: 75px;
}

.memoryWinTries {
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.startMemory {
    background: #0ec4bb;
    background-image: -webkit-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -moz-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -ms-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: -o-linear-gradient(top, #0ec4bb, #0b8f88);
    background-image: linear-gradient(to bottom, #0ec4bb, #0b8f88);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    padding: 12px 12px 12px 12px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.startMemory:hover {
    background: #5bcfc9;
    cursor: pointer;
}

.smallIcon {
    width: 20px;
    float: left;
    pointer-events: none;
    margin-left: 5px;
    margin-top: 3px;
}

/* Window */

.window {
    background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 21px, #6A6A6A 1px, #EDEDED, #EDEDED 23px);
    margin: 0 auto;
    border-radius: 5px;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);
    padding: 3px 5px;
    text-align: left;
    position:absolute;
}

.chat {
    height: 450px;
    width: 400px;
}

.memory {
    height: 650px;
    width: 400px;
}

.windowContainer {
    padding:15px;
}
h1 {
    font: normal normal 13px/20px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    text-align: center;
    position:relative;
    z-index:2;
    top:-23px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    color:#444;
}
h2 {
    font: normal bold 13px/20px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    margin-bottom:3px;
}
p {
    font: normal normal 11px/14px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    padding-top: 3px;
}
h2, p {
    text-align: center;
    margin-top: 100px;
}
p a,
p a:link,
p a:visited,
p a:hover,
p a:active {
    border-bottom: 1px dotted #888;
    text-decoration: none;
    color: #000;
}
nav{
    height:19px;
}
nav a {
    display: inline-block;
    margin: 2px 2px 3px 2px;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #f36;
    box-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-indent: -9999px;
    position: relative;
}

nav a:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    box-shadow:inset 0 1px 4px rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

nav a:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    border-radius: 100%;
    background: -webkit-linear-gradient(white, rgba(255, 255, 255, .9) 2%, white, rgba(255, 255, 255, .4) 16%, rgba(255, 255, 255, 0) 43%, rgba(255, 255, 255, .74), rgba(255, 255, 255, .7) 122%, rgba(255, 255, 255, .7));
    box-shadow: inset 0 -3px 0 3px rgba(255, 255, 255, 0.2), inset 0 2px -5px 3px rgba(255, 255, 255, 0.2);
}

nav a.close {
    background: #FD4E4E;
}

nav a.minimize {
    background: #F3BB55;
}

nav a.maximize {
    background: #96D16F;
}

.button {
    font: normal normal 13px/20px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    height: 21px;
    width:79px;
    background:-webkit-linear-gradient(white 2px,#FCFCFC, #F3F3F3 11px, #ECECEC 4px, #FCFCFC 54px);
    display:block;
    float:right;
    margin-top:5px;
    margin-right: 75px;
    cursor: pointer;
    text-align: center;
    border-radius:4px;
    box-shadow:inset 0 0 0 1px #909090, 0 1px 0 0 #DFDFDF;
    color:#000;
    text-decoration:none;
}

.userName {
    margin-left: 60px;
    margin-top: 6px;
    width: 140px;
}



/* Dock Bar */
/* Based of https://dl.dropboxusercontent.com/u/1330446/demo/dock/dock.html */

#dock-container {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}
#dock {
    position: relative;
    display: inline-block;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
}
#dock .base {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    z-index: -10;

    background: #f5f6f6;
    background: -moz-linear-gradient(top,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%);
    background: -webkit-linear-gradient(top,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    background: linear-gradient(to bottom,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 );
    opacity: 1;
    border-bottom: 2px #aaa solid;
    -webkit-transform-origin: 50% 100%;
    -webkit-transform: rotateX(55deg);
    -moz-transform-origin: 50% 100%;
    -moz-transform: rotateX(55deg);
    -o-transform-origin: 50% 100%;
    -o-transform: rotateX(55deg);
}
#dock ul {
    font-size: 14px;
    padding: 0 30px;
    margin: 0;
}
#dock li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}
#dock li span {
    display: none;
    position: absolute;
    bottom: 140px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 4px 0 4px 0;
    border-radius: 7px;
}
#dock li:hover span {
    display: block;
}
#dock li img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255,255,255,.5)));
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
    -webkit-linear-gradient(top, transparent, rgba(255,255,255,.3));
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
    -moz-transition: all 0.4s;
    -moz-transform-origin: 50% 100%;
    -o-transition: all 0.3s;
    -o-transform-origin: 50% 100%;
    border-radius: 10px;
}
#dock li:hover img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    margin: 0 2em 0;
}

#dock li:hover + li img,
#dock li.prev img {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -o-transform: scale(1.4);
    margin: 0 1.4em 10px;
}




/* Overlay for popup */

.overlay {
    background:rgba(0,0,0,0.8);
    opacity:0.8;
    filter:alpha(opacity=80);
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:100;
    animation: fade 1s ease 1 forwards;
}

/* Popup */
.popup{
    background:white;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:101;
    width:500px;
    height:200px;
    margin:auto;
    border-radius: 10px;
    border-top: 1px solid white;
    animation: fade 1s ease 1 forwards;
}

.popup .popup-inner{
    position:relative;
    padding:1em;
}

.popup .popup-inner input.s3-btn-close{
    position:absolute;
    top:-0.5em;
    right:-0.5em;
    background:black;
    border:solid 2px white;
    color:white;
    cursor:pointer;
    border-radius:24px;
    outline:none;
    padding: 4px 7px 4px 7px;
}

input.s3-btn{
    background:#f1f1f1;
    border:none;
    width:200px;
    height:50px;
    cursor:pointer;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
}

.s3-center{
    text-align:center;
}

/* Popup content */

.confirm h1 {
    text-align: center;
    font-size: 1.2rem;
    margin: 1.5rem 1rem 0.5rem;
}
.confirm p {
    text-align: center;
    font-size: 1rem;
    margin: 0 2rem 4.5rem;
}
.confirm button {
    background: transparent;
    border: none;
    color: #1678E5;
    height: 4rem;
    font-size: 1rem;
    width: 50%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    margin-bottom: -24px;
}
.confirm button:nth-of-type(1) {
    border-top: 1px solid #B4B4B4;
    border-right: 1px solid #B4B4B4;
    left: 0;
    border-radius: 0 0 0 10px;
}
.confirm button:nth-of-type(2) {
    border-top: 1px solid #B4B4B4;
    right: 0;
    border-radius: 0 0 10px 0;
}
.confirm button:focus,
.confirm button:hover {
    font-weight: bold;
    background: #EFEFEF;
}
.confirm button:active {
    background: #D6D6D6;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0 none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
    background: #ffffff;
}
::-webkit-scrollbar-track {
    background: #a1a1a1;
    border: 0 none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: #a1a1a1;
}
::-webkit-scrollbar-track:active {
    background: #727272;
}
::-webkit-scrollbar-corner {
    background: transparent;
}


/* Chat */

.textContainer {
    -webkit-user-select: text; /* Chrome/Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+ */
    color: black;
    overflow-y: auto;
    overflow-x: hidden;
    height: 375px;
    border: 0;
}

.textArea {
    -webkit-user-select: text; /* Chrome/Safari */
    -moz-user-select: text; /* Firefox */
    -ms-user-select: text; /* IE10+ */
}

.sendChat {
    border: 0;
    background: transparent;
}

.sendPic{
    width: 30px;
    height: 25px;
    margin-top: -16px;
    margin-left: 5px;
    position: relative;
    top: 8px;
}

.chatBox {
    height: 22px;
    width: 320px;
    border-radius: 3px;
    text-indent: 3px;

}

.chatBox:focus {
    outline: 0;
}

/* Memory altervative sizes */

.styled-select {
    position:relative;
    border:solid 1px #888888;
    overflow:hidden;
    display:block;
    width:12em;
    margin: 7px 55px 0 10px;
    font-size:1em; /*use this to scale the select*/
}


.styled-select select {
    width:100%;
    font-size: .9em;
    height: 2em;
    margin: 0;
    background: rgb(0, 0, 27); /*IE Fallback*/
    background: rgba(0, 0, 27, 0);
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.styled-select select option {
    background-color: #fff;
}

.styled-select .select-button {
    background-color:#68696D;
    right:0; top:0;
    position:absolute;
    pointer-events:none;
    /*text-align: center; vertical-align: middle; */
    width: 2em; height: 1.8em;
}

.styled-select .select-button .select-button-text {
    color: #fff;
    line-height: 1.8em;
    text-align: center;
    display: block;
}

.styled-select .select-button .select-button-text span{
    font-size: 1em;
}


.small-arrow-down {
    width: 0;
    height: 0;
    border-left: .4em solid transparent;
    border-right: .4em solid transparent;
    border-top: .4em solid #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.lt-ie10 .styled-select {
    background: #fff;
    border: none;
}

.lt-ie10 .styled-select .select-button {
    display: none;
}

/* BSOD */


.bsod {
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
    background: #0000AA;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0 auto;
    z-index: 100000;
}

.error-header {
    text-align: center;
    margin-bottom: 10px;
}

.error-header span {
    background: rgba(255, 255, 255, 0.7);
    color: #0000AA;
    margin: auto;
}

.error {
    position: absolute;
    font-size: 20px;
    left: 25%;
    top: 25%;
}

.center {
    font-size: 25px;
}

ul
{
    list-style-type: none;
}

.hidden {
    display: none;
}
